body{
	font-family:メイリオ,arial;

}

h1 h2 h3{
	font-color:black;
}

li{
	display:inline-block;
}

textarea{
	vertical-align: middle;
	width:400px;
	height:75px;
}

button{
	vertical-align: middle;
	width:150px;
	height:75px;
}

div{
	display:table-cell;
}

#tabs {
	display:block;
	z-indes:1;
}

#tabs li{
	display:inline-block;
}

#tabs > .none{
	background: block;
}

#tabs >.activate{
	background: white;

}

.container >.activate{
	backgorund-color: black;
}

.container >.none{
	display:none;
}